<!-- Wide card with share menu button -->

<div class="mdl-card mdl-shadow--2dp" style="width: 100%">
  <div class="mdl-card__title">
    <h5>{{obj.get_short_description}}</h5>
  </div>
  <div class="mdl-card__supporting-text">
    <h5>লটারির তারিখ: {{ obj.lottery_date }}</h5>

  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="{% url 'lottery:lottery-detail' obj.id %}" class="mdl-button mdl-js-button mdl-button--raised
      mdl-button--colored">
      View Detail
    </a>
    <a href="{% url 'lottery:tickets-buy' obj.id %}" class="mdl-button mdl-js-button mdl-button--raised
      mdl-button--colored">
      Buy Ticket
    </a>
    </a>
      <a href="{% url 'lottery:my-tickets' %}" class="mdl-button mdl-js-button mdl-button--raised
      mdl-button--colored">
      My Tickets
    </a>
  </div>
</div>

