{% extends 'lottery/index.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block grid %}

<div class="mdl-cell mdl-cell--6-col">

        <div class="mdl-card mdl-shadow--2dp" style="width: 100%; text-align: center;">
            <div class="mdl-card__title" >
                <h2 class="mdl-card__title-text">Sorry!</h2>
                <h2 class="mdl-card__title-text">{{ error }}</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border" style="align-center">
                <a href="{% url 'lottery:tickets-buy' lottery_id %}" class="mdl-button mdl-js-button mdl-button--raised
                  mdl-button--colored">
                  Try Again
                </a>
            </div>
        </div>
</div>
{% endblock grid %}
