{% extends 'lottery/index.html' %}
{% load static %}


{% block content %}
        <div class="mdl-cell--12-col">

            <h4>আপনার টিকেট সমূহ </h4>
            <table class="mdl-data-table mdl-shadow--2dp" style="width: 100%">
                <thead class="bg-primary-subtle">
                    <tr>
                        <td>
                            টিকেট নাম্বার
                        </td>
                        <td>লটারি তারিখ</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr class="{% if obj.lottery.status == 'finished' %} bg-danger-subtle {% endif %}">
                        <td>
                            <a href="{% url 'lottery:tickets-detail'  obj.id %}" class="link-info">{{ obj.ticker_number }}</a>
                            
                        </td>
                        <td>
                            {{ obj.lottery.lottery_date }}
                        </td>

                        <td>
                            {{ obj.lottery.status }}
                        </td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">
                                No Tickets
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
{% endblock content %}
