
<div class="lottery-card-wide mdl-card mdl-shadow--2dp">
  
  <div class="mdl-card__media">
    <img src="/media/media/banner/lottery.png" width="100%" border="0" alt="">
  </div>
  <div class="mdl-card__supporting-text">
    This text might describe the photo and provide further information, such as where and
    when it was taken.
  </div>
  <div class="mdl-card__actions">
    <a href="{% url 'lottery:lottery-list'  %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Details
    </a>
  </div>
</div>

